{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0).
 * It is also available through the world-wide-web at this URL: https://opensource.org/licenses/AFL-3.0
 *#}

{% extends '@!PrestaShop/Admin/layout.html.twig' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col">
                <div class="card">
                    <h3 class="card-header">
                        <i class="material-icons">settings</i> {% block controllerTitle %}{{ 'Configure controller'|trans({}, 'Modules.MyModule.Admin') }}{% endblock %}
                    </h3>
                    <div class="card-body card-block">
                        <div class="form-wrapper card-text">
                            {% block controllerDescription %}
                            	<h2>Description</h2>
                            	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            {% endblock %}
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
        </div>
    </div>
{% endblock %}